Requirement already satisfied: streamlit in c:\users\t125023\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.52.2)
Requirement already satisfied: pandas in c:\users\t125023\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: plotly in c:\users\t125023\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (5.24.1)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (5.0.1)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (1.6.2)
Requirement already satisfied: cachetools<7,>=4.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (8.1.7) 
Requirement already satisfied: numpy<3,>=1.23 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: packaging>=20 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (24.1)  
Requirement already satisfied: pillow<13,>=7.1.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (12.0.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (21.0.0) 
Requirement already satisfied: requests<3,>=2.27 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (4.11.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (4.0.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (3.1.43)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\t125023\anaconda3\lib\site-packages (from streamlit->-r requirements.txt (line 1)) (6.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\t125023\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\t125023\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)    
Requirement already satisfied: tzdata>=2022.7 in c:\users\t125023\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2023.3)  
Requirement already satisfied: jinja2 in c:\users\t125023\anaconda3\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\t125023\anaconda3\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (4.23.0)
Requirement already satisfied: toolz in c:\users\t125023\anaconda3\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (0.12.0)
Requirement already satisfied: colorama in c:\users\t125023\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 1)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\t125023\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 1)) (4.0.7)
Requirement already satisfied: six>=1.5 in c:\users\t125023\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\t125023\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 1)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\t125023\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 1)) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\t125023\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\t125023\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 1)) (2026.1.4)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\t125023\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\t125023\anaconda3\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\t125023\anaconda3\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\t125023\anaconda3\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\t125023\anaconda3\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (0.10.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\t125023\anaconda3\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 1)) (2.1.3)